In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySpark_Exercises").getOrCreate()

In [3]:
spark_sql = spark.read.csv("/content/drive/My Drive/mtcars.csv", header=True, inferSchema=True)
spark_sql.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              _c0| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [4]:
spark_sql.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [5]:
spark_sql.select("mpg").show()

+----+
| mpg|
+----+
|21.0|
|21.0|
|22.8|
|21.4|
|18.7|
|18.1|
|14.3|
|24.4|
|22.8|
|19.2|
|17.8|
|16.4|
|17.3|
|15.2|
|10.4|
|10.4|
|14.7|
|32.4|
|30.4|
|33.9|
+----+
only showing top 20 rows

In [9]:
spark_sql.filter(spark_sql.mpg < 18).show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|                _c0| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|   Dodge Challenger|15.5|  8|318.0|150|2.76| 3.52|16.87|  0|  0|   3|   2|
|        AMC Javelin|15.2|  8|304.0|150|3.15|3.435| 17.3|  0|  0|   3|   2|
|         Camaro Z28|13.3|  8|350.0|245|3.73| 3.84|15.41|  0|  0|   3|   4|
|     Ford Pantera L|15.8|  8|351.0|264|4.22| 3.17| 14.5|  0|  1|   5|   4|
|      Maserati Bora|15.0|  8|301.0|335|3.54| 3.57| 14.6|  0|  1|   5|   8|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+

In [11]:
from pyspark.sql.functions import col

spark_sql = spark_sql.withColumn("wtTon", col("wt")*0.45)
spark_sql.select("wt","wtTon").show(5)

+-----+-------+
|   wt|  wtTon|
+-----+-------+
| 2.62|  1.179|
|2.875|1.29375|
| 2.32|  1.044|
|3.215|1.44675|
| 3.44|  1.548|
+-----+-------+
only showing top 5 rows

In [12]:
spark_sql = spark_sql.withColumnRenamed("vs", "versus")
spark_sql.show(5)

+-----------------+----+---+-----+---+----+-----+-----+------+---+----+----+-------+
|              _c0| mpg|cyl| disp| hp|drat|   wt| qsec|versus| am|gear|carb|  wtTon|
+-----------------+----+---+-----+---+----+-----+-----+------+---+----+----+-------+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|     0|  1|   4|   4|  1.179|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|     0|  1|   4|   4|1.29375|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|     1|  1|   4|   1|  1.044|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|     1|  0|   3|   1|1.44675|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|     0|  0|   3|   2|  1.548|
+-----------------+----+---+-----+---+----+-----+-----+------+---+----+----+-------+
only showing top 5 rows

In [13]:
data1 = [("A101", "John"), ("A102", "Peter"), ("A103", "Charlie")]
columns1 = ["emp_id", "emp_name"]
df1 = spark.createDataFrame(data1, columns1)

In [14]:
df1.show()

+------+--------+
|emp_id|emp_name|
+------+--------+
|  A101|    John|
|  A102|   Peter|
|  A103| Charlie|
+------+--------+

In [15]:
data2 = [("A101", 1000), ("A102", 2000), ("A103", 3000)]
columns2 = ["emp_id", "salary"]
df2 = spark.createDataFrame(data2, columns2)

In [16]:
df2.show()

+------+------+
|emp_id|salary|
+------+------+
|  A101|  1000|
|  A102|  2000|
|  A103|  3000|
+------+------+

In [17]:
combined_df = df1.join(df2, on="emp_id", how="inner")
combined_df.show()

+------+--------+------+
|emp_id|emp_name|salary|
+------+--------+------+
|  A101|    John|  1000|
|  A102|   Peter|  2000|
|  A103| Charlie|  3000|
+------+--------+------+

In [18]:
data3 = [("A101", 1000), ("A102", 2000), ("A103", None)]
columns3 = ["emp_id", "salary"]
df3 = spark.createDataFrame(data3, columns3)

In [19]:
df3.show()

+------+------+
|emp_id|salary|
+------+------+
|  A101|  1000|
|  A102|  2000|
|  A103|  NULL|
+------+------+

In [21]:
df3 = df3.fillna({"salary": 3000})

In [22]:
df3.show()

+------+------+
|emp_id|salary|
+------+------+
|  A101|  1000|
|  A102|  2000|
|  A103|  3000|
+------+------+

In [24]:
spark_sql.groupBy("cyl").agg({"wt": "mean"}).orderBy("cyl").show()

+---+------------------+
|cyl|           avg(wt)|
+---+------------------+
|  4| 2.285727272727273|
|  6| 3.117142857142857|
|  8|3.9992142857142867|
+---+------------------+

In [25]:
spark_sql.createOrReplaceTempView("cars")

In [28]:
spark.sql("SELECT * FROM cars").show()

+-------------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
|                _c0| mpg|cyl| disp| hp|drat|   wt| qsec|versus| am|gear|carb|             wtTon|
+-------------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|     0|  1|   4|   4|             1.179|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|     0|  1|   4|   4|           1.29375|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|     1|  1|   4|   1|             1.044|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|     1|  0|   3|   1|           1.44675|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|     0|  0|   3|   2|             1.548|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|     1|  0|   3|   1|             1.557|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|     0|  0|   3|   4|            1.6065|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|     1|  0|   4|   2|            1.4355|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|     1|  0|   4|   2|            1.4175|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|     1|  0|   4|   4|             1.548|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|     1|  0|   4|   4|             1.548|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|     0|  0|   3|   3|1.8315000000000001|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|     0|  0|   3|   3|            1.6785|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|     0|  0|   3|   3|1.7009999999999998|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|     0|  0|   3|   4|2.3625000000000003|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|     0|  0|   3|   4|2.4408000000000003|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|     0|  0|   3|   4|           2.40525|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|     1|  1|   4|   1|0.9900000000000001|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|     1|  1|   4|   2|           0.72675|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|     1|  1|   4|   1|           0.82575|
+-------------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
only showing top 20 rows

In [30]:
spark.sql("SELECT * FROM cars").show()

+-------------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
|                _c0| mpg|cyl| disp| hp|drat|   wt| qsec|versus| am|gear|carb|             wtTon|
+-------------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|     0|  1|   4|   4|             1.179|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|     0|  1|   4|   4|           1.29375|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|     1|  1|   4|   1|             1.044|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|     1|  0|   3|   1|           1.44675|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|     0|  0|   3|   2|             1.548|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|     1|  0|   3|   1|             1.557|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|     0|  0|   3|   4|            1.6065|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|     1|  0|   4|   2|            1.4355|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|     1|  0|   4|   2|            1.4175|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|     1|  0|   4|   4|             1.548|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|     1|  0|   4|   4|             1.548|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|     0|  0|   3|   3|1.8315000000000001|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|     0|  0|   3|   3|            1.6785|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|     0|  0|   3|   3|1.7009999999999998|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|     0|  0|   3|   4|2.3625000000000003|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|     0|  0|   3|   4|2.4408000000000003|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|     0|  0|   3|   4|           2.40525|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|     1|  1|   4|   1|0.9900000000000001|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|     1|  1|   4|   2|           0.72675|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|     1|  1|   4|   1|           0.82575|
+-------------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
only showing top 20 rows

In [29]:
spark.sql("SELECT DISTINCT(mpg) FROM cars").show()

+----+
| mpg|
+----+
|15.5|
|17.3|
|13.3|
|19.7|
|21.4|
|15.8|
|27.3|
|24.4|
|19.2|
|21.0|
|33.9|
|18.1|
|15.2|
|14.7|
|14.3|
|22.8|
|18.7|
|21.5|
|17.8|
|10.4|
+----+
only showing top 20 rows

In [31]:
spark.sql("SELECT * FROM cars WHERE mpg > 20 and cyl < 6").show()

+--------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
|           _c0| mpg|cyl| disp| hp|drat|   wt| qsec|versus| am|gear|carb|             wtTon|
+--------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+
|    Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|     1|  1|   4|   1|             1.044|
|     Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|     1|  0|   4|   2|            1.4355|
|      Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|     1|  0|   4|   2|            1.4175|
|      Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|     1|  1|   4|   1|0.9900000000000001|
|   Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|     1|  1|   4|   2|           0.72675|
|Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|     1|  1|   4|   1|           0.82575|
| Toyota Corona|21.5|  4|120.1| 97| 3.7|2.465|20.01|     1|  0|   3|   1|           1.10925|
|     Fiat X1-9|27.3|  4| 79.0| 66|4.08|1.935| 18.9|     1|  1|   4|   1|           0.87075|
| Porsche 914-2|26.0|  4|120.3| 91|4.43| 2.14| 16.7|     0|  1|   5|   2|0.9630000000000001|
|  Lotus Europa|30.4|  4| 95.1|113|3.77|1.513| 16.9|     1|  1|   5|   2|           0.68085|
|    Volvo 142E|21.4|  4|121.0|109|4.11| 2.78| 18.6|     1|  1|   4|   2|             1.251|
+--------------+----+---+-----+---+----+-----+-----+------+---+----+----+------------------+

In [33]:
spark.sql("""SELECT cyl, avg(wt) as avg_weight
          FROM cars
          group by cyl""").show()

+---+------------------+
|cyl|        avg_weight|
+---+------------------+
|  6| 3.117142857142857|
|  4| 2.285727272727273|
|  8|3.9992142857142867|
+---+------------------+

In [34]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

def convert_weight(wt):
  return wt*0.45

convert_weight_udf = udf(convert_weight, FloatType())
spark.udf.register("convert_weight", convert_weight_udf)

In [35]:
spark.sql("SELECT wt, convert_weight(wt) as wtTon FROM cars").show()

+-----+-------+
|   wt|  wtTon|
+-----+-------+
| 2.62|  1.179|
|2.875|1.29375|
| 2.32|  1.044|
|3.215|1.44675|
| 3.44|  1.548|
| 3.46|  1.557|
| 3.57| 1.6065|
| 3.19| 1.4355|
| 3.15| 1.4175|
| 3.44|  1.548|
| 3.44|  1.548|
| 4.07| 1.8315|
| 3.73| 1.6785|
| 3.78|  1.701|
| 5.25| 2.3625|
|5.424| 2.4408|
|5.345|2.40525|
|  2.2|   0.99|
|1.615|0.72675|
|1.835|0.82575|
+-----+-------+
only showing top 20 rows